.vscode
composer.phar
Python/__pycache__
Python/login_response.json
Python/test.json
Python/index.html
Python/webuntis-api-docs.md
Python/2018-09-20-WebUntis_JSON_RPC_API.pdf
Python/timetable.json
Python/timetable2.json
Python/timetable.json.old
Python/login_config.py
*.json