* {
    box-sizing: border-box
}

.tableless_timetable {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.vertical-layout {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-cols {
    width: 120px;
    text-align: center;
    display: block;
}

.grid-lesson {
    width: 120px;
    border: 1px solid #000000;
}

.grid-lesson-number {
    width: 120px;
    text-align: center;
    padding-right: 4px;
    border: 1px solid #000000;
}

.lesson_time {
    display: block;
    text-align: right;
    font-size: small;
}

.lesson-normal {
    background-color: #ff9900;
    display: block;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lesson-normal:hover {
    background-color: #ffaa33;
}
.lesson-changed {
    background-color: #642cff;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lesson-removed {
    background-color: #c9c9c9;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lesson-hidden {
    display: none;
}


.teacher-name {
    font-size: small;
}

.subject {
    font-size: large;
    font-weight: bold;
}

.room {
    font-size: small;
}